
.button {
    display: table;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 27px;
.login {
    letter-spacing: 2px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 4px;
}
}


img {
    object-fit: resize;
    width: 200px;
    height: 200px;
    border: 0;
    padding: 0;
    text-align: center;
}